.contenedor-titulo {
    margin: auto;
    width: 100%;
    padding: 2em;
    padding-bottom: 1em;
    box-sizing: border-box;
}

.contenedor-titulo h2 {
    text-align: left;
    font-size: 30px;
    font-family: "Calibri";
    text-align: center;
}

main.campos-registro {
    max-width: 20%;
    margin: auto;
    padding: 1em 5em;
    border: 1px solid black;
}

main.campos-registro fieldset {
    padding: 10px 40px;
    border-radius: 0.3em;
    margin-bottom: 25px;
}

main.campos-registro fieldset legend {
    font-size: 18px;
    margin-left: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Calibri', sans-serif;
}

.form_registro label  {
    /* text-align: left; */
    font-size: 18px;
    font-family: "Calibri";
    text-align: center;
}


input[type="email"], 
input[type="text"], 
input[type="password"], 
input[type="tel"] {
    height: 20px;
    width: 100%;
    font-size: 16px;
}

.form_registro input {
    margin-bottom: 10px;
}

.form_registro input[type="submit"] {
    width: 10%;
    padding: 5px;
    color: white;
    border-style: none;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0,70,144);
    font-style: bold;
}