
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/edit/{{user.id}}" method="POST">
                        <div class="form-group">
                            <label for="cellphone">Número de telefono personal</label>
                            <input type="tel" value="{{user.cellphone}}" name="cellphone" class="form-control" placeholder="Ejemplo: 6629228364">
                        </div>
                        <div class="form-group">
                            <label for="alt_email">Correo alternativo</label>
                            <input type="email" value="{{user.alt_email}}" class="form-control" name="alt_email" placeholder="micorreo@gmail.com" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="diseases">
                                Mencione algún padecimiento que pudieramos considerar
                            </label>
                            <textarea rows="3" class="form-control" name="diseases" placeholder="Ejemplo: diabetes, hipertensión, etc.">{{user.diseases}}</textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


